{{ attach_library("new_weather_theme/localize-timestamps") }}

{# Widgets and stuff. This is presented as a row of columns. #}
<div class="weather-gov-current-conditions">
  <h2>{{ "Current Conditions" | t }}</h2>
  {% if content.error %}
  {% set message = "There was an error loading the current conditions." | t %}
  {% include '@new_weather_theme/partials/uswds-alert.html.twig' with { 'level': "error", body: message } %}
  {% else %}

  {# We hide from screenreaders and use the weather narrative (below) instead #}
  <div data-wx-current-conditions-narrative aria-hidden="true">
    <p class="usa-prose margin-0 font-body-xs text-gray-50">
      {{ 'Weather as of' | t }}
    </p>
    {# Datetimes are localized in client-side Javascript. #}
    <time class="display-block text-bold" datetime="{{ content.timestamp.utc }}" data-wx-local-time>
      {{ content.timestamp.formatted }}
    </time>
  </div>

  {# We hide from screenreaders and use the weather narrative (below) instead #}
  <div class="display-flex flex-align-start margin-y-205" aria-hidden="true">
    {# First row is temperature #}
    <div class="display-flex flex-column">
      <div class="current-conditions-temp display-flex flex-row flex-align-start margin-right-6">
        {{ content.temperature }}
        <span class="font-body-lg display-inline-block left-full margin-top-05">℉</span>
      </div>
      <div class="margin-top-05 position-relative">
        <span class="font-body-xs text-gray-50">{{ "Feels like" | t }}</span>
        <span>{{ content.feels_like }}</span>
        <span class="font-body-3xs position-absolute margin-top">℉</span>
      </div>
    </div>

    <div class="display-flex flex-column flex-align-center">
      <div class="icon">
        {{ source(directory ~ "/assets/images/weather/icons/conditions/" ~ content.icon )}}
      </div>
      <span class="font-body-xs text-center">{{ content.conditions.short }}</span>
    </div>
  </div>

  {# Weather narrative is for screen readers only #}
  <div data-wx-current-conditions-narrative class="tablet:grid-col-12 usa-sr-only height-1px">
      {{ 'Weather as of' | t }}
      {# Datetimes are localized in client-side Javascript. #}
      <weather-timestamp data-utc="{{ content.timestamp.utc }}">
        {{ content.timestamp.formatted }}
      </weather-timestamp>
      {{ "The weather in @place, is @conditions.
        Temperature is @temperature ℉." |
      t({
        "@place": content.place,
        "@conditions": content.conditions.long | lower,
        "@temperature": content.temperature,
      })
      }}
      {% if content.feels_like != content.temperature %}
        {{ " It feels like @feelsLike ℉." |
        t({
          "@feelsLike": content.feels_like
        })
        }}
      {% endif %}
      {{ " Humidity is @humidity%"
      |
      t({
        "@humidity": content.humidity
      })
      }}{% if content.wind.speed != null %}
        {{
        "with @windSpeed mph winds from the @windDirection"
        |
        t({
          "@windSpeed": content.wind.speed,
          "@windDirection": content.wind.direction
        })
        }}{% else %}{{ ". Wind information is unavailable" | t() }}{% endif %}.
  </div>

  <div class="item tablet:margin-top-2 display-flex flex-row flex-align-center margin-bottom-05" aria-hidden="true">
    <div class="margin-right-05">{{ source(directory ~ "/assets/images/weather/icons/humidity.svg") }}</div>
    {{ "Humidity: @humidity%" | t({ "@humidity": content.humidity }) }}
  </div>

  <div class="item display-flex flex-row flex-align-center margin-right-05" aria-hidden="true">
    <div class="margin-right-05">{{ source(directory ~ "/assets/images/weather/icons/wind.svg") }}</div>
    {% if content.wind.speed != null %}
    {{ "Wind: @windSpeed mph @windDirection" | t({
      "@windSpeed": content.wind.speed,
      "@windDirection": content.wind.shortDirection
    })
    }}
    {% else %}
    {{ "Wind: N/A" | t() }}
    {% endif %}
  </div>

  <div class="margin-top-3">
    <span class="text-gray-50 margin-bottom-105 display-block">{{ "Observation station" | t }}:</span>
    <span class="text-bold display-block margin-y-105 display-block">
      {{ content.stationInfo.name }} ({{ content.stationInfo.identifier }})
    </span>
    <a href="#">Learn more about observation stations</a>
  </div>
{% endif %}
</div>
