<div class="grid-container padding-x-2">
  <div class="grid-row">
    <div class="grid-col tablet-lg:grid-offset-2 tablet-lg:grid-col-8">
      <h3 class="wx-visual-h2 text-normal text-primary-darker"> {{ "Your Local Forecast Office" | t }} </h3>
      <h4 class="wx-visual-h3 margin-bottom-1"><a href="/offices/{{ content.code }}">{{ content.name }}</a></h4>
      <p class="line-height-sans-4 margin-top-0">
        {{ content.about | view }}
      </p>
      
      {% set hasPhone = content.phone | length %}
      {% if hasPhone > 0 %}
      {{ content.phone | view }}
      {% endif %}

      {% if content.social is not same as false %}
      <p class="font-family-mono font-mono-sm text-bold text-primary-darker text-uppercase margin-bottom-1">
        {{ "Find us on" | t }}
      </p>
        <ul class="usa-list usa-list--unstyled"> 
          {{ content.social.facebook| view }}
          {{ content.social.youtube | view }}
          {{ content.social.twitter | view }}
        </ul>
      {% endif %}

    </div>
  </div>
</div>
