<div class="tablet:grid-col-12">
  <h2>Hourly forecast</h2>
  {# Forecast:  hour, icon, condition desc (short), change of precip, temp degree, temp scale #}
  <ol class="grid-row flex-row minh-card usa-list--unstyled">

    {% for hour in content.hours %}
      <li class="tablet:grid-col margin-bottom-3">
        <div class="">
          <time class="display-block text-uppercase text-bold tablet:text-center font-heading-md" datetime="2011-11-18T03:00-05:00">{{ hour.time }}</time>
          <div class="display-flex flex-row flex-align-center flex-justify">
            <div class="margin-y-1 position-relative width-5 height-5">
              <svg role="img" aria-hidden="true" class="height-full width-full">
                <use xlink:href="{{ "/" ~ directory ~ "/assets/images/spritesheet.svg#" ~ hour.iconBasename }}"></use>
              </svg>
            </div>
            <div class="display-flex flex-row tablet:margin-top-2">
              <span class="font-body-xl">{{ hour.temperature }}</span>
              <span class="font-body-3xs margin-top-05">℉</span>
              {# use HTML entity that reads "degree farenheit" to screen readers #}
            </div>
          </div>
          <div class="">
            <p class="margin-0 margin-bottom-1 conditions-narrative short">{{ hour.conditions | lower | capitalize }}</p>
            <span class="font-body-3xs text-gray-50 conditions__chance">{{ hour.probabilityOfPrecipitation }}% chance if precipitation</span>
          </div>
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
