<div class="bg-accent-cool-lightest border-top-1px border-bottom-1px border-base-light margin-top-4 wx-weather-story-block-section">
  <div class="grid-container desktop:padding-x-4 padding-x-2">
  <div class="wx-weather-story-wrapper">
    {# Top section with text #}
    <div class="margin-bottom-2">
      <h3 class="wx-visual-h2 text-normal text-primary-darker margin-top-3 margin-bottom-2 mobile-lg:display-flex flex-wrap">
        <span class="margin-right-0 mobile-lg:margin-right-2 desktop:margin-right-0"> {{ "weather-story.heading.from-forecaster.01" | t }} </span>
        <span class="display-flex flex-align-center bg-gold-10v text-black text-uppercase padding-y-05 padding-left-1 padding-right-105 margin-top-bottom-105 mobile-lg:margin-top-0 desktop:margin-top-105 font-sans-xs radius-md border-1px border-base-light">
          <svg
              class="usa-icon height-205 width-205 margin-right-05 text-top margin-bottom-2px"
              aria-hidden="true"
              focusable="false"
              role="img"
          >
            <use
              xlink:href="/{{ directory }}/assets/images/uswds/sprite.svg#construction_worker"
            ></use>
          </svg>
          {{ "backend.banner.under-development.01" | t }}
        </span>
      </h3>
      <h4 class="wx-visual-h3 text-primary-dark margin-0 margin-bottom-2">{{ content.title }}</h4>
      <p class="margin-0 margin-bottom-2">
        {% set normalized_wfo = content.wfo_code | normalize_wfo %}
        {% set wfo_url = '/offices/' ~ normalized_wfo %}
        {{ "weather-story.text.created-by.02" | t({
          "@wfo_url": wfo_url,
          "@wfo_name": content.wfo_name
        })}}
      </p>
      <p class="margin-0">{{ content.description }}</p>
    </div>

    {# Image area #}
    {% if content.image %}
    <div class="display-block width-full">
      <img src="{{ file_url(content.image.uri) }}" alt="" aria-hidden="true">
      {% endif %}
    </div>

    {# Footer area #}
    <div class="margin-bottom-3">
      <hr class="margin-x-0 border-accent-cool-darker border-top-0 margin-top-2 margin-bottom-105" />
      <div class="display-flex flex-align-center">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <rect width="24" height="24" fill="transparent"/>
          <path d="M6 5H18V6H6V5Z" fill="#0085CA"/>
          <path d="M6 10H18V11H6V10Z" fill="#0085CA"/>
          <path d="M18 15H6V16H18V15Z" fill="#0085CA"/>
          <path d="M6 12H16V13H6V12Z" fill="#0085CA"/>
          <path d="M16 17H6V18H16V17Z" fill="#0085CA"/>
          <path d="M6 7H16V8H6V7Z" fill="#0085CA"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2H20V22H4V2ZM5 3H19V21H5V3Z" fill="#0085CA"/>
        </svg>
        <a class="usa-link margin-left-1" href="/afd/{{ content.wfo_code }}">{{ "weather-story.link.area-forecast-discussion.01" | t }}</a>
      </div>
    </div>
  </div>
  </div>
</div>
