<div class="grid-container padding-x-2"> 
  <div class="grid-row"> 
    <div class="grid-col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-8">
      <weathergov-alerts class="display-block">
      {% for alert in content.alerts %}
      <div class="usa-accordion usa-accordion--bordered margin-bottom-1" id="alert_{{ alert.alertId }}">
        <h2 class="usa-accordion__heading font-heading-lg">
          <button
            type="button"
            class="usa-accordion__button text-ls-1"
            aria-expanded="{{ (alert.alertId == 1) ? 'true' : 'false' }}"
            aria-controls="a{{ alert.alertId }}"
            data-button-for="#alert_{{alert.alertId}}">
            {{ alert.event | t }}
          </button>
        </h2>
        <div id="a{{alert.alertId}}" class="usa-accordion__content usa-prose">
          <p class="font-sans-md text-bold text-primary-darkest margin-y-0" >
            {{ "In effect from" | t }} {{ alert.onset }}
            {% if alert.ends %} – {{ alert.ends }}{% endif %}
          </p>
          <p class="margin-y-05">
            {{ "Issued by @sender" | t({ "@sender": alert.senderName }) }}
          </p>

          <!--
          We don't translate alert descriptions for now. There is a larger effort to
          do those translations in realtime and we will try to hook into that when the
          time comes. For now... we can't really do anything.
          -->
          {% for element in alert.description %}
            {% if element.type == "heading" %}
              <h3 class="text-normal text-primary-darker">{{ element.text | capitalize }}</h3>
            {% else %}
              <p>{{ element.text }}</p>
            {% endif %}
          {% endfor %}

          {% if alert.instruction %}
          <h3 class="text-normal text-primary-darker">{{ "What to do" | t }}</h3>
          <p>
            {{ alert.instruction | nl2br }}
          </p>
          {% endif %}
          <h3 class="text-normal text-primary-darker">{{ "Areas impacted" |t }}</h3>
          <ul class="usa-list {%- if alert.areaDesc | length > 7 %} wx-col-2 {%- endif -%}">
              {%  for areaName in alert.areaDesc %}
                <li class="">{{ areaName }}</li>
              {% endfor %}
            </ul>
          {{ drupal_block("weathergov_dynamic_safety_information", { weather_event: alert.event }) }}
        </div>
      </div>
      {% endfor %}
      </weathergov-alerts>
    </div>
  </div>
</div>
