{% if content.title %}
{{ attach_library("new_weather_theme/localize-timestamps") }}
<div class="grid-container margin-bottom-1 padding-x-0 tablet:padding-x-2">
  <div class="grid-row">
    <div class="grid-col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-8">
      <div class="usa-accordion usa-accordion--bordered" id="weather-story">
        <h3 class="usa-accordion__heading font-heading-lg">
          <button
            type="button"
            class="usa-accordion__button text-ls-1"
            aria-expanded="false"
            aria-controls="wx-weather-story-content"
            data-button-for="#wx-weather-story-content">
            {{ "Forecaster's report" | t }}
          </button>
        </h3>
        <div id="wx-weather-story-content" class="usa-accordion__content usa-prose">
          <h4 class="wx-visual-h3 text-primary-darker text-normal margin-top-0 margin-bottom-2"> {{  content.title | t }} </h4>
          <p class="text-base margin-top-2"><span class="font-family-mono text-ls-neg-3">{{ "Last updated" | t }}:</span>
          <time datetime="{{ content.updated.utc }}" data-wx-local-time data-date-format="M d Y T">
            {{ content.updated.formatted }}
          </time>
          </p>
          <div class="line-height-sans-4"> 
            {{ content.body | raw }}
          </div>
          {% if content.image %}
          <img class="margin-left-neg-2 tablet:margin-left-0 maxw-mobile-lg" src="{{ file_url(content.image.uri) }}" alt="{{ content.image.alt | replace({'"': "&quot;"}) }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div> 
</div>

{% endif %}
