{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<div class="display-flex margin-y-4">
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="site-logo display-block">
      <img class="height-9" src="{{ site_logo }}" alt="{{ site_slogan}} {{ 'logo'|t }}" />
    </a>
  {% endif %}
  <div class="site-info padding-x-2 padding-y-1">
  {% if site_name %}
    <div class="site-name">
      <a href="{{ path('<front>') }}" class="font-heading-lg desktop:font-heading-xl text-primary text-no-underline text-bold" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <a class="site-slogan font-sans-2xs desktop:font-sans-xs text-base-dark text-no-underline hover:text-underline" href="https://www.noaa.gov/">{{ site_slogan }}</a>
  {% endif %}
  </div>
</div>
  {% endblock %}
