{% if content.title %}
<div data-wx-weather-story>
  <h2>Weather story</h2>
  <p class="text-gray-50">Last updated:
    <weather-timestamp data-utc="{{ content.updated.utc }}" data-date-format="M d Y T">
      {{ content.updated.formatted }}
    </weather-timestamp>
  </p>
  {% if content.image %}
  <img class="margin-left-neg-2 tablet:margin-left-0" src="{{ file_url(content.image.uri) }}" alt="{{ content.image.alt | replace({'"': "&quot;"}) }}">
  {% endif %}
  <h3>{{ content.title }}</h3>
  {{ content.body | raw }}
</div>
{% endif %}