{% if content.title %}
{{ attach_library("new_weather_theme/localize-timestamps") }}
<div data-wx-weather-story>
  <h2>{{ "Weather story" | t }}</h2>
  <p class="text-gray-50">{{ "Last updated" | t }}:
    <time datetime="{{ content.updated.utc }}" data-wx-local-time data-date-format="M d Y T">
      {{ content.updated.formatted }}
    </time>
  </p>
  {% if content.image %}
  <img class="margin-left-neg-2 tablet:margin-left-0" src="{{ file_url(content.image.uri) }}" alt="{{ content.image.alt | replace({'"': "&quot;"}) }}">
  {% endif %}
  <h3>{{ content.title }}</h3>
  <div class="line-height-sans-4">
    {{ content.body | raw }}
  </div>
</div>
{% endif %}