{# First row: widget-type interface #}
<div class="grid-row margin-left-8 margin-y-4">
  {# First half: icon, current temperature, and conditions text #}
  <div class="tablet:grid-col-3 display-flex">
    <div class="icon flex-align-center margin-right-1">
      {{ source(directory ~ "/assets/images/weather/icons/conditions/" ~ content['#data']["icon"] )}}
    </div>
    <div class="flex-align-center">
      <div class="font-body-3xl display-flex flex-fill">
        {{ content["#data"]["temperature"] }}
        <div class="margin-top-1 display-flex flex-align-start font-body-lg">
          ℉
        </div>
      </div>
      <p class="margin-0 conditions-narrative short">
        {{ content["#data"]["conditions"]["short"]}}
      </p>
    </div>
  </div>

  {# Second half: feels like, humidity, and wind #}
  <div class="tablet:grid-col-3 margin-top-05">
    <div class="font-body-lg display-flex flex-fill">
      {{ content["#data"]["feels_like"] }}
      <div class="margin-top-2px display-flex flex-align-start font-body-3xs">
        ℉
      </div>
    </div>
    <p class="margin-0 font-body-3xs text-gray-50">{{ "Feels like" | t }}</p>
    <div class="display-flex flex-fill margin-top-2">
      <div class="flex-auto flex-align-center item margin-right-1">
        {{ source(directory ~ "/assets/images/weather/icons/humidity.svg") }}
      </div>
      <div class="flex-fill flex-align-center">
        {{ "Humidity: @humidity%" | t({ "@humidity": content["#data"]["humidity"] }) }}
      </div>
    </div>
    <div class="display-flex flex-fill">
      <div class="flex-auto flex-align-center item margin-right-1">
        {{ source(directory ~ "/assets/images/weather/icons/wind.svg") }}
      </div>
      <div class="flex-align-center flex-auto">
        {{ "Wind: @windSpeed mph @windDirection" | t({
          "@windSpeed": content["#data"]["wind"]["speed"],
          "@windDirection": content["#data"]["wind"]["shortDirection"]
          })
        }}
      </div>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="tablet:grid-col-12">
    <p class="margin-0 font-body-3xs text-gray-50">
      {{ 'Weather as of' | t }}
      {# Datetimes are localized in client-side Javascript. #}
      <weather-timestamp data-utc="{{ content["#data"]["timestamp"]["utc"] }}">
        {{ content["#data"]["timestamp"]["formatted"] }}
      </weather-timestamp>
    </p>
    <p class="margin-0 margin-top-05">
      {{ "The weather in <strong>@place</strong> is <strong>@conditions</strong>.
          Temperature is <strong>@temperature℉</strong>.
          Humidity is <strong>@humidity%</strong>"
          |
          t({
            "@place": content["#data"]["location"],
            "@conditions": content["#data"]["conditions"]["long"] | lower,
            "@temperature": content["#data"]["temperature"],
            "@humidity": content["#data"]["humidity"]
          })
      }}{% if content["#data"]["wind"]["speed"] > 0 %}
      {{
        "with <strong>@windSpeed mph winds</strong> from the @windDirection"
        |
        t({
          "@windSpeed": content["#data"]["wind"]["speed"],
          "@windDirection": content["#data"]["wind"]["direction"]
        })
      }}{% endif %}.
    </p>
  </div>
</div>

