{% for alert in content.alerts %}
<a id="alert_{{ loop.index }}"></a>
<div class="usa-alert usa-alert" role="alert">
  <div class="usa-alert__body">
    <h2 class="usa-alert__heading">{{ alert.event }}</h2>
    <p>
      In effect from {{ alert.onset }}
      {% if alert.ends %} - {{ alert.ends }}{% endif %}
    </p>
    <p>
      Issued by {{ alert.senderName }}
    </p>
    <p>
      {{ alert.description | nl2br }}
    </p>

    {% if alert.usesParsedDescription %}
      {% for label, infoText in alert.description %}
        <h3>{{ label | capitalize }}</h3>
        <p>{{ infoText }}</p>
      {% endfor %}
    {% else %}
      <p>{{ alert.description }}</p>
    {% endif %}

    {% if alert.instruction %}
    <h3>What to do</h3>
    <p>
      {{ alert.instruction | nl2br }}
    </p>
    {% endif %}
    <h3>Areas impacted</h3>
    <p>
      {{ alert.areaDesc | nl2br }}
    </p>
  </div>
</div>
{% endfor %}
