{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {% if label %}
    <h2{{title_attributes}}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {# Forecast:  hour, icon, condition desc (short), change of precip, temp degree, temp scale #}
  <ul class="grid-row flex-row minh-card usa-list--unstyled">

    {% for hour in content.hours %}
      <li class="tablet:grid-col padding-x-4">
        <div class="display-flex tablet:flex-column flex-justify flex-align-center tablet:minh-card">
          <time class="display-block text-uppercase text-bold tablet:text-center font-heading-md" datetime="2011-11-18T03:00-05:00">{{ hour.time }}</time>
          <div class="icon margin-y-1">
            {{ source(directory ~ "/assets/images/weather/icons/conditions/" ~ hour.icon )}}
          </div>
          <div class="text-center">
            <p class="margin-0 conditions-narrative short">{{ hour.conditions | lower }}</p>
            <span class="font-body-3xs text-gray-50 conditions__chance">{{ hour.probabilityOfPrecipitation }}% chance</span>
          </div>
          <div class="display-flex flex-row tablet:margin-top-2">
            <span class="font-body-xl">{{ hour.temperature }}</span>
            <span class="font-body-3xs margin-top-05">℉</span>
            {# use HTML entity that reads "degree farenheit" to screen readers #}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
