{% if content.periods %}

<div class="grid-container padding-x-2">
  <div class="grid-row"> 
    <div class="grid-col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-6"> 
      <h3 class="text-normal text-primary-darker margin-top-1">{{ "Precipitation amounts" |t }}</h3>
    </div>
  </div>
  <div class="grid-row margin-x-neg-2 tablet:margin-x-0">
    <div class="bg-white padding-y-2 padding-x-3 shadow-1 bg-white grid-col-12 tablet-lg:grid-offset-2 tablet:grid-col-8 tablet-lg:grid-col-6">
      <table class="usa-table usa-table--borderless precip-table margin-y-0 width-full">
        <caption class="usa-sr-only">{{ "precipitation amounts for the coming hours" | t }}
        <thead class="usa-sr-only">
          <tr>
            <th scope="col">{{ "time period" | t }}</th>
            <th scope="col">{{ "forecast precipitation" | t }}</th>
          </tr>
        </thead>
        <tbody>
        {% for hour in content.periods %}
        <tr>
          <td class="font-family-mono font-mono-xs text-base text-ls-neg-3">{{ hour.start }}&emsp13;–&emsp13;{{ hour.end }}</td>
          <td class="text-align-right">{{ hour.value }} {{ "inches" | t }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endif %}
