<weather-gov-current-conditions style="display:block;max-width: 50%;">
  <style type="text/css">
    
  </style>

  <section class="weather-gov-current-conditions">
    <h1>{{ content["#data"]["location"] }}</h1>

    <p class="margin-0 font-body-3xs text-gray-50">
      Weather as of
      <weather-timestamp data-utc="{{ content["#data"]["timestamp"]["utc"] }}">
        {{ content["#data"]["timestamp"]["formatted"] }}
      </weather-timestamp>
    </p>
    
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-2 icon">
          {{ source(directory ~ "/assets/images/weather/icons/conditions/" ~ content['#data']["icon"] )}}
        </div>
        <div class="grid-col-5">
          <p class="margin-0 font-body-3xl">
            {{ content["#data"]["temperature"] }}
            <span class="font-body-lg">&deg;F</span>
          </p>
          <p class="margin-0 conditions-narrative short">
            {{ content["#data"]["conditions"]["short"]}}
          </p>
        </div>

        <div class="grid-col-5">
          <p class="margin-0 font-body-lg">
            {{ content["#data"]["feels_like" ]}}
            <span class="font-body-3xs">&deg;F</span>
          </p>
          <p class="margin-0 font-body-3xs text-gray-50">Feels like</p>
          <p class="margin-0 item">
            {{ source(directory ~ "/assets/images/weather/icons/humidity.svg") }} Humidity: {{ content["#data"]["humidity"] }}%
          </p>
          <p class="margin-0 item">
            {{ source(directory ~ "/assets/images/weather/icons/wind.svg") }}Wind: {{ content["#data"]["wind"]["speed"] }} mph {{ content["#data"]["wind"]["direction"] }}
          </p>
        </div>
      </div>
    </div>

    <p class="conditions-narrative long">
      The weather in <strong>{{ content["#data"]["location"] }}</strong> is
      <strong>{{ content["#data"]["conditions"]["long"] | lower }}</strong>.
      Temperature is <strong>{{ content["#data"]["temperature"] }}
      &deg;F</strong>. Humidity is <strong>
      {{ content["#data"]["humidity"] }}%</strong>{% if content["#data"]["wind"]["speed"] > 0  %} with
      <strong>{{ content["#data"]["wind"]["speed"] }}mph winds</strong> from
      the {{ content["#data"]["wind"]["direction"] }}{% endif %}.
    </p>
  </section>
</weather-gov-current-conditions>