{% set preamble = afd.parsedProductText.preamble %}
{% set body = afd.parsedProductText.body %}
{% set epilogue = afd.parsedProductText.epilogue %}
<article class="afd-content desktop:padding-left-1" data-afd-id="{{afd.id}}">
    <div class="afd-preamble">
        <h2 class="usa-heading usa-sr-only">
            {{ "Letterhead and timestamp" | t }}
        </h2>
        {% for key,val in preamble %}
            <span class="afd-preamble-{{key}} font-mono-sm text-pre-line">
                {% for node in val %}
                    {{node.content}}
                {% endfor %}
            </span>
        {% endfor %}
    </div>

    <div class="afd-body">
        {% for node in body %}
            {% if node.type == 'header' %}
                <h2 class="usa-heading wx-mono-h2 margin-bottom-1 margin-top-4">{{node.content | raw}}</h2>
                {% if node.postHeader %}
                    <span class="afd-postheader">{{node.postHeader}}</span>
                {% endif %}

            {% elseif node.type == 'subheader' %}
                <h3 class="wx-mono-h3 margin-top-105">{{node.content}}</h3>
            {% elseif node.type == 'temps-table' %}
                <div class="afd-table-wrapper usa-table-container--scrollable">
                    <table class="usa-table width-full">
                        {% for row in node.rows %}
                            <tr>
                                <td>{{row.name}}</td>
                                {% for num in row.numbers %}
                                    <td>{{num}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <p class="usa-text font-mono-sm text-pre-line">{{node.content}}</p>
            {% endif %}
        {% endfor %}
    </div>

    {% if epilogue %}
        <div class="afd-epilogue">
            {% for node in epilogue %}
                <p class="usa-text font-mono-sm text-pre-line">
                    {{node.content}}
                </p>
            {% endfor %}
        </div>    
    {% endif %}
</article>
