{% for alert in alerts %}
  <tr data-row-name="alert">
    <th scope="row" class="position-sticky left-0 font-family-mono text-primary-dark font-mono-xs text-uppercase z-400">
    {# Visually we can display the alert(s) heading just once for the alerts section of 
       the table, however we want the row head to announced for each row of alerts to 
       screen reader users so they know the content of the row. Using "rowspan" would
       seem to solve for both cases, but unfortunately the row header isn't always
       announced when testing using VO.
    #}
    {% if loop.first %}
      {% if alerts | length > 1 %} {% set alertLabel="forecast.labels.alerts.01" | t %}{% else %}{% set alertLabel="daily-forecast.labels.alert.01" | t %}{% endif %}
      <span class="" aria-hidden="true">{{ alertLabel }}</span>
    {% endif %}
      <span class="usa-sr-only">{{ "daily-forecast.labels.alert.01" | t }}</span>
    </th>
    {% if alert.offset > 0 %}
      <td colspan="{{ alert.offset }}"></td>
    {% endif %}
    <td colspan="{{alert.duration}}">
      {% include "@new_weather_theme/partials/alert-link.html.twig"
         with { alertID: alert.id, alertType: alert.event, alertLevel: alert.level } %}
    </td>
    {% if alert.remainder > 0 %}
      <td colspan="{{ alert.remainder }}"></td>
    {% endif %}
  </tr>
{% endfor %}
