{% set periodLength = periods | length %}
{% for alertInfo in alertPeriods %}
  {% set remainingCount = periodLength - alertInfo.duration - alertInfo.periodIndex %}
  <tr data-row-name="alert">
    <th scope="row" class="position-sticky left-0"><span class="usa-sr-only">{{ "Alert" | t }}</span></th>
    {% if alertInfo.periodIndex > 0 %}
      <td colspan="{{ alertInfo.periodIndex }}"></td>
    {% endif %}
    <td colspan="{{alertInfo.duration}}">
      <span class="hourly-table__alert">{{alertInfo.alert.event}}</span>
    </td>
    {% if remainingCount > 0 %}
      <td colspan="{{ remainingCount }}"></td>
    {% endif %}
  </tr>
{% endfor %}
