{% set periodLength = periods | length %}
{% for alertInfo in alertPeriods %}
  {% set remainingCount = periodLength - alertInfo.duration - alertInfo.periodIndex %}
  <tr data-row-name="alert">
    <th scope="row" class="position-sticky left-0"><span class="usa-sr-only">{{ "Alert" | t }}</span></th>
    {% if alertInfo.periodIndex > 0 %}
      <td colspan="{{ alertInfo.periodIndex }}"></td>
    {% endif %}
    <td colspan="{{alertInfo.duration}}">
      <a class="hourly-table__alert" href="#alert_{{alertInfo.alert.alertId}}">
        <div class="display-flex">
          <div class="width-3 height-3 margin-right-05">
            <svg role="img" aria-hidden="true" class="width-full height-full">
              <use xlink:href="{{ "/" ~ directory ~ "/assets/images/uswds/sprite.svg#warning" }}"></use>
            </svg>
          </div>
          {{alertInfo.alert.event}}
        </div>
      </a>
    </td>
    {% if remainingCount > 0 %}
      <td colspan="{{ remainingCount }}"></td>
    {% endif %}
  </tr>
{% endfor %}
