{#
This partial expects an array of forecast period
assoc arrays (as formatted by the WeatherDataService),
usually of size 2 corresponding to both daytime and
nighttime periods.

In some cases -- like the case of the current day -- there might
only be a nighttime period.
#}
{% set itemId =  periods[0].monthAndDay | lower | replace({" ":"-"}) %}
<li class="display-block" {% if itemId %}id="{{itemId}}{% endif %}">
  <div class="bg-white padding-y-205 padding-x-205 shadow-1 grid-col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-8">
    <div class="daily-date-and-temp display-flex flex-row flex-justify flex-align-center margin-bottom-3 tablet:margin-bottom-4 tablet:grid-col-6">
      <time class="display-block flex-1 text-bold font-heading-md text-primary-darker" datetime="{{ periods[0].startTime }}">
        {% if dayLabel %}
          <span>{{ dayLabel }}, </span>
        {% else %}
          <span>{{ periods[0].dayName }}, </span>
        {% endif %}
        <span class="display-block">{{ periods[0].monthAndDay }}</span>
      </time>

      {% include '@new_weather_theme/partials/daily-high-low.html.twig' with { 'periods': periods } %}
    </div>
    <div class="grid-row grid-gap">
        {% for period in periods %}
            {% set marginUnit = 1 %}
            {% set tabletCol = 6 %}
            {%  if period.isOvernight %}
                {% set label = "Overnight" | t %}
                {% set lineColor = "indigo" %}
                {% set tabletCol = 12 %}
            {% elseif period.isDaytime %}
                {% set label = "Day" | t %}
                {% set lineColor = "yellow" %}
                {% set marginUnit = 3 %}
            {% else %}
                {% set label = "Night" | t %}
                {% set lineColor = "indigo" %}
            {% endif %}
        <div class="daily-forecast-summary-area grid-col-12 tablet:grid-col-{{ tabletCol }} margin-bottom-{{ marginUnit }} tablet:margin-bottom-1">
        <span class="display-block font-family-mono text-uppercase font-body-2xs margin-bottom-1 text-primary-darkest line-before line-before--{{ lineColor }}">
            {{label}} {% if period.timeLabel %}<span class="daily-period-time-label text-gray-50">({{period.timeLabel}})</span>{% endif %}
        </span>
        <div class="display-flex flex-row flex-align-start">
          {% if period.icon.base %}
          <div class="width-5 height-5 margin-right-105">
            <svg role="img" aria-hidden="true" class="width-full height-full">
              <use xlink:href="{{ "/" ~ directory ~ "/assets/images/spritesheet.svg#" ~ period.icon.base }}"></use>
            </svg>
          </div>
          {% endif %}
          <div class="flex-1">
            <p class="daily-short-forecast font-body-sm margin-top-2px margin-bottom-0 line-height-sans-3">
            {{period.shortForecast}}
            </p>
            {% if period.probabilityOfPrecipitation and period.probabilityOfPrecipitation > 1 %}
            <p class="text-gray-50 font-body-xs margin-top-05 margin-bottom-0">
            {{period.probabilityOfPrecipitation}}% {{ "chance of precipitation" | t }}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <wx-hourly-toggle class="text-primary-dark margin-top-1" role="button" aria-expanded="false" aria-controls="{{itemId}}-hourly-table" data-expanded-text="{{ 'Hide hourly details' | t}}" data-hidden-text="{{'Show hourly details' | t}}" data-expanded-icon-name="expand_less" data-hidden-icon-name="expand_more">
      <span class="toggle-text font-mono font-mono-s text-ls-neg-1"></span>
      <span class="margin-top-05">
          <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
              <use xlink:href="/themes/new_weather_theme/assets/images/uswds/sprite.svg#expand_more"></use>
          </svg>
      </span>
    </wx-hourly-toggle>
    {%  include '@new_weather_theme/partials/hourly-table.html.twig' with { 'hours': dayHours, 'alertPeriods': alertPeriods, 'itemId': itemId } %}
  </div>
</li>
