{#
This partial expects an array of forecast period
assoc arrays (as formatted by the WeatherDataService),
usually of size 2 corresponding to both daytime and
nighttime periods.

In some cases -- like the case of the current day -- there might
only be a nighttime period.
#}
<li class="display-block tablet:grid-col margin-bottom-5">
  <div class="daily-date-and-temp desktop:grid-col-6 grid-col-12 display-flex flex-row flex-justify flex-align-center margin-bottom-2">
    <time class="display-block flex-1 text-bold tablet:text-center font-heading-md" datetime="{{ periods[0].startTime }}">
      {% if dayLabel %}
        <span>{{ dayLabel }},</span>
      {% else %}
        <span>{{ periods[0].dayName }}</span>
      {% endif %}
      <span class="display-block">{{ periods[0].monthAndDay }}</span>
    </time>

    {% for period in periods %}
      {% include '@new_weather_theme/partials/daily-high-low.html.twig' with { 'period': period } %}
    {% endfor %}
  </div>
  {% for period in periods %}
    {% set label =  period.isDaytime ? "Day" | t : "Night" | t %}
    <div class="daily-forecast-summary-area margin-bottom-2">
      <span class="display-block text-bold font-body-xs">
        {{label}}
      </span>
      <div class="display-flex flex-row flex-align-start">
        <div class="width-5 height-5 margin-right-105">
          <svg role="img" aria-hidden="true" class="width-full height-full">
            <use xlink:href="{{ "/" ~ directory ~ "/assets/images/spritesheet.svg#" ~ period.iconBasename }}"></use>
          </svg>
        </div>
        <div class="flex-1">
          <p class="daily-short-forecast font-body-xs margin-y-0">
            {{period.shortForecast}}
          </p>
          {% if period.probabilityOfPrecipitation and period.probabilityOfPrecipitation > 1 %}
            <p class="text-gray-50 font-body-3xs margin-y-0">
              {{period.probabilityOfPrecipitation}}% {{ "chance of precipitation" | t }}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</li>
