{#
This template expects two variables available to it:
- content: The full object created from the daily forecast block
- dayIndex: The index of the day currently being rendered within
the content
#}
{% set dayId = day.periods[0].monthAndDay | lower | replace({" ":"-"}) %}
{% set hasAlertIcon = day.alerts.metadata.highest != "" %}
{% set temps = day.periods | map(p => p.data.temperature.degF) %}
{% set low = min(temps) %}
{% set high = max(temps) %}
{% set pop = day.maxPop %}
{% if pop is null %}
{% set pop = 0 %}
{% endif %}
<button
  class="wx-quick-toggle-item bg-white flex-align-center display-flex flex-wrap width-full padding-105"
  id="{{dayId}}-quick-forcast-button"
  role="button"
  aria-controls="daily-content-{{itemId}}"
  aria-expanded="true"
>
  <div class="wx-quick-toggle-item-top display-flex flex-1 flex-justify flex-align-center text-primary-darker font-mono-sm">
    <time class="text-align-left flex-1 text-primary-dark" datetime="{{day.periods[0].startTime}}" aria-label="{{"Date" | t}}">
      <span>{{day.periods[0].dayName}}</span>
      <span class="display-block">
        {{day.monthNumericString}}/{{day.dayNumericString}}
      </span>
    </time>

    <div class="wx-quick-toggle-condition flex-1" aria-label="{{"Condition" | t}}">
      {%  if hasAlertIcon %}
      <svg role="img" aria-hidden="true" class="wx-alert-icon" data-alert-level="{{day.alerts.metadata.highest}}">
        <use xlink:href="/themes/new_weather_theme/assets/images/uswds/sprite.svg#warning"></use>
      </svg>
      {% endif %}

      <svg role="img" aria-hidden="true" class="wx-alert-icon">
        <use xlink:href="{{ "/" ~ directory ~ "/assets/images/spritesheet.svg#" ~ day.periods[0].data.icon.base }}"></use>
      </svg>
    </div>

    <div class="wx-quick-toggle-item-high-low display-flex flex-1 text-primary-darker">
      {% if not day.useOnlyLow %}
      <div class="wx-quick-high" aria-label="{{'High' | t}}">
        <span class="wx-quick-label">
          {{"High" | t}}
        </span>
        <span class="wx-quick-temp display-block">
          {{ high  }}
          <span aria-hidden="true" class="wx-degree">
            &deg;F
          </span>
          <span class="usa-sr-only">℉</span>
        </span>
      </div>
      {% endif %}
      <div class="wx-quick-low width-auto" aria-label="{{'Low' | t }}">
        <span class="wx-quick-label">
          {{"Low" | t}}
        </span>
        <span class="wx-quick-temp display-block">
          {{ low }}
          <span aria-hidden="true" class="wx-degree">
            &deg;F
          </span>
          <span class="usa-sr-only">℉</span>
        </span>
      </div>
    </div>

    <span class="wx-toggler-add-icon display-block tablet:display-none text-primary">
      <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/themes/new_weather_theme/assets/images/uswds/sprite.svg#add_circle"></use>
      </svg>
    </span>
  </div>

  <hr/>

  <div class="wx-quick-toggle-item-bottom wx-flex-basis-100 mobile-lg__wx-flex-basis-auto width-full flex-1 tablet:width-auto text-primary-darker">
    <span>
      {{pop}}% {{"chance of precipitation" | t}}
    </span>
  </div>

  <span class="wx-toggler-add-icon display-none tablet:display-block desktop:display-none text-primary">
    <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="/themes/new_weather_theme/assets/images/uswds/sprite.svg#add_circle"></use>
    </svg>
  </span>
</button>
