{#
This template expects two variables available to it:
- content: The full object created from the daily forecast block
- dayIndex: The index of the day currently being rendered within
the content
#}
{% set dayId = day.periods[0].monthAndDay | lower | replace({" ":"-"}) %}
{% set hasAlertIcon = day.alerts.metadata.highest != "" %}
{% set temps = day.periods | map(p => p.data.temperature.degF) %}
{% set low = min(temps) %}
{% set high = max(temps) %}
{% set pop = day.maxPop %}
{% if pop is null %}
{% set pop = 0 %}
{% endif %}
<button
  class="wx-quick-toggle-item bg-white flex-align-center display-flex flex-wrap width-full padding-105"
  id="{{dayId}}-quick-forcast-button"
  role="button"
  aria-controls="daily-content-{{itemId}}"
  aria-expanded="true"
>
      {% endif %}
      <div class="wx-quick-low width-auto" aria-label="{{'Low' | t }}">
        <span class="wx-quick-temp display-block">
          {{ low }}
          <span aria-hidden="true" class="wx-degree">
            &deg;F
          </span>
          <span class="usa-sr-only">℉</span>
        </span>
      </div>
    </div>

    <span class="wx-toggler-add-icon usa-icon--size-3 display-block tablet:display-none text-primary">
      <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/themes/new_weather_theme/assets/images/uswds/sprite.svg#add_circle"></use>
      </svg>
    </span>
  </div>

  <div class="wx-quick-toggle-item-bottom wx-flex-basis-100 mobile-lg__wx-flex-basis-auto width-full flex-1 tablet:width-auto text-primary-darker">
    <span>
      {{pop}}% {{"chance of precipitation" | t}}
    </span>
  </div>

  <span class="wx-toggler-add-icon usa-icon--size-3 display-none tablet:display-block desktop:display-none text-primary">
    <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="/themes/new_weather_theme/assets/images/uswds/sprite.svg#add_circle"></use>
    </svg>
  </span>
</button>
