{#
This partial expects an array of forecast period
assoc arrays (as formatted by the WeatherDataService),
usually of size 2 corresponding to both daytime and
nighttime periods.

This particular template differs from the regular daily
list item template in that it is an abbreviated version
intended for use within the "Today" tab, and should only
display some of the forecast information for the current
day
#}
{% if itemId is null %}
  {% set itemId =  periods[0].monthAndDay | lower | replace({" ":"-"}) %}
{% endif %}

<li class="display-block bg-white padding-y-205 padding-x-205 shadow-1 grid-col-12 height-full" {% if itemId %}id="{{itemId}}{% endif %}">    
    <div class="grid-container padding-0 margin-bottom-2 tablet:margin-bottom-2">
      <div class="grid-row display-flex flex-align-start border-bottom-1px border-base-lighter padding-bottom-2">
        <div class="daily-date-and-temp display-flex flex-row flex-justify flex-align-center tablet:grid-col-6 tablet__flex-justify-start">
          <h3 class="padding-0 margin-0">
            <time class="display-block text-bold font-heading-md text-primary-dark minw-15 margin-right-3" datetime="{{ periods[0].startTime }}">
              {% if dayLabel %}
                <span>{{ dayLabel }}, </span>
              {% else %}
                <span>{{ periods[0].dayName }}, </span>
              {% endif %}
              <span class="display-block">{{ periods[0].monthAndDay }}</span>
            </time>
          </h3>

          <div class="display-flex">
          {% include '@new_weather_theme/partials/daily-high-low.html.twig' with { 'periods': periods } %}
          </div>
        </div>

        {% set alertCount = alerts.metadata.count %}
        {% if alertCount > 0 %}
          {% set alertID = alerts.items[0].id %}
          {% set alertType = alerts.items[0].event %}
          {% set alertLevel = alerts.items[0].level %}

          {% if alertCount > 1 %}
            {% set alertID = null %}
            {% set alertType = "Multiple alerts" | t %}
            {% set alertLevel = alerts.metadata.highest %}
          {% endif %}

          <div class="grid-col-12 tablet:grid-col-6 tablet:display-flex tablet:flex-justify-end margin-top-2 tablet:margin-top-0 daily-alert-summary">
            {% include "@new_weather_theme/partials/alert-link.html.twig" with { alertID: alertID, alertType: alertType, alertLevel: alertLevel} %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="grid-row grid-gap">
      {% for period in periods | filter(v => v) %}
        {% set marginUnit = 3 %}
        {% set tabletMarginUnit = 1 %}
        {% set tabletCol = 6 %}
        {%  if period.isOvernight %}
          {% set label = "Overnight" | t %}
          {% set lineColor = "midnight-indigo" %}
          {% set tabletCol = 12 %}
          {% set tabletMarginUnit = 3 %}
        {% elseif period.isDaytime %}
          {% set label = "Day" | t %}
          {% set lineColor = "yellow" %}
        {% else %}
          {% set label = "Night" | t %}
          {% set lineColor = "indigo" %}
          {% set marginUnit = 1 %}
        {% endif %}
        <div class="wx-daily-forecast-summary-area grid-col-12 tablet:grid-col-{{ tabletCol }} margin-bottom-{{ marginUnit }} tablet:margin-bottom-{{ tabletMarginUnit }}">
        <span class="display-block font-family-mono text-uppercase font-body-xs margin-bottom-1 text-primary-darker wx-marker-before wx-marker-before--{{ lineColor }}">
            {{label}} {% if period.timeLabel %}<span class="daily-period-time-label text-gray-50">({{period.timeLabel}})</span>{% endif %}
        </span>
        <div class="display-flex flex-row flex-align-start">
          {% if period.data.icon.base %}
          <div class="width-5 height-5 margin-right-105">
            <svg role="img" aria-hidden="true" class="width-full height-full">
              <use xlink:href="{{ "/" ~ directory ~ "/assets/images/spritesheet.svg#" ~ period.data.icon.base }}"></use>
            </svg>
          </div>
          {% endif %}
          <div class="flex-1">
            <p class="daily-short-forecast font-body-sm margin-top-2px margin-bottom-0 marker-height-sans-3">
            {{period.data.description}}
            </p>
            {% if period.data.probabilityOfPrecipitation.percent and period.data.probabilityOfPrecipitation.percent > 1 %}
            <p class="text-gray-50 font-body-xs margin-top-05 margin-bottom-0">
            {{period.data.probabilityOfPrecipitation.percent}}% {{ "chance of precipitation" | t }}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% set hourCount = dayHours | length %}
    {% if hourCount > 0 %}
        <div>
            {#  Summary Temperature Chart #}
            {% set times = dayHours | map(h => h.hour) | json_encode %}
            {% set temps = dayHours | map(h => h.temperature.degF) | json_encode %}
            {% set feelsLike = dayHours | map(h => h.apparentTemperature.degF) | json_encode %}
            <div class="wx-chart-wrapper margin-top-0 margin-bottom-4">
                <span class="font-family-mono text-primary-dark usa-sr-only">
                    {{ "Temperature" | t }}
                </span>
                <div class="position-sticky left-0 display-flex flex-justify padding-top-2 padding-bottom-105">
                    {% include "@new_weather_theme/partials/scroll-buttons.html.twig" %}
                </div>
                <div class="wx-chart wx-hourly-temp-chart-container margin-bottom-105 position-relative grid-col-12 width-full overflow-x-auto"  tabindex="0" data-times="{{ times }}" data-temps="{{ temps }}" data-feels-like="{{ feelsLike }}" data-sync-scrolling="true" data-hide-y-axis="true" data-use-max-y="true">
                    <div class="maxh-card-lg" style="width: max(100%, calc(var(--chart-datapoint-width) * {{times | split(',') | length}}))">
                        <canvas>
                        </canvas>
                    </div>
                </div>
                <div class="display-flex flex-align-center font-mono-xs text-base">
                    <div class="width-3 border-bottom-2px border-primary-dark height-0 margin-right-1">
                        <div class="bg-primary-dark margin-left-1 radius-pill width-1 height-1" style="margin-top: -3px;"></div>
                    </div>
                    {{ "Temperature" | t }}
                    <div class="margin-left-3 width-3 border-bottom-2px border-top-0 border-left-0 border-right-0 border-dotted border-primary-light height-0 margin-right-1">
                        <div class="bg-primary-light margin-left-1 radius-pill width-1 height-1" style="margin-top: -3px;"></div>
                    </div>
                    {{  "Feels like" | t }}
                </div>
            </div>
      </div>
    {% endif %}
</li>
