<table class="usa-table usa-table--borderless observation-table border-top-1px border-base-light tablet:margin-bottom-0 width-full">
    <tbody>
        {# WIND #}
        <tr class="wx-wind-speed">
            <th scope="row"  class="font-family-mono text-base font-mono-xs text-uppercase z-400">
                {{ "observation-table.labels.wind.01" | t }}
            </th>
            <td>
                {% include '@new_weather_theme/partials/wind.html.twig' with { speed: obs.data.windSpeed, direction: obs.data.windDirection } %}
            </td>
        </tr>
        {# GUSTS #}
        {%  if content.gusts is not same as (null) %}
            <tr class="wx-gusts">
                <th scope="row"  class="font-family-mono text-base font-mono-xs text-uppercase z-400">
                    {{ "observation-table.labels.gusts.01" | t }}
                </th>
                <td>
                    {{ "units.mph.02" | t({ "@speed": content.gusts.speed }) }}
                </td>
            </tr>
        {% endif %}
        {# HUMIDITY #}
        <tr class="wx-humidity">
            <th scope="row" class="font-family-mono text-base font-mono-xs text-uppercase z-400">
                {{ "observation-table.labels.humidity.01" | t }}
            </th>
            <td>
                {% if obs.data.relativeHumidity.percent == 0 %}
                    <span class="text-base font-mono-xs"> {{  "abbreviations.not-applicable.01" | t}}</span>
                {% else %}
                    {{  obs.data.relativeHumidity.percent }}%
                {% endif %}
            </td>
        </tr>
        {# DEWPOINT #}
        <tr class="wx-dewpoint">
            <th scope="row"  class="font-family-mono text-base font-mono-xs text-uppercase z-400">
                {{ "observation-table.labels.dewpoint.01" | t }}
            </th>
            <td>
                {% if obs.data.dewpoint.degF is same as (null) %}
                    <span class="text-base font-mono-xs"> {{  "abbreviations.not-applicable.01" | t}}</span>
                {% else %}
                    {{ obs.data.dewpoint.degF }}<span class="font-body-3xs position-absolute margin-top">&deg;F</span>
                {% endif %}
            </td>
        </tr>
        {# VISIBILITY #}
        <tr class="wx-visibility">
            <th scope="row"  class="font-family-mono text-base font-mono-xs text-uppercase z-400">
                {{ "observation-table.labels.visibility.01"  | t }}
            </th>
            <td>
                {% if obs.data.visibility.mi is same as (null) %}
                    <span class="text-base font-mono-xs"> {{  "abbreviations.not-applicable.01" | t}}</span>
                {% else %}
                    {{ obs.data.visibility.mi }} {{ "units.miles.01" | t }}
                {% endif %}
            </td>
        </tr>
        {# PRESSURE #}
        <tr class="wx-pressure">
            <th scope="row"  class="font-family-mono text-base font-mono-xs text-uppercase z-400">
                {{ "observation-table.labels.pressure.01" | t }}
            </th>
            <td>
                {% if obs.data.barometricPressure.inHg is same as (null) %}
                    <span class="text-base font-mono-xs"> {{  "abbreviations.not-applicable.01" | t}}</span>
                {% else %}
                    {{  "units.mercury-inches.01" | t({ "@mercury_inches": obs.data.barometricPressure.inHg, "@mbar": obs.data.barometricPressure.mb })}}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
