{{ attach_library("new_weather_theme/cmi-radar") }}

<div class="margin-top-2" wx-outer-radar-container>
  <h3 class="wx-visual-h2 text-normal text-primary-darker padding-x-2 tablet:padding-x-0 margin-top-3 margin-bottom-2">{{ "Radar" | t }}</h3>

  <div class="grid-container padding-0 bg-white shadow-1">
    <div class="usa-sr-only">
      <p>
        {{ "Listed below is a visual representation of radar data for
        @place. For more details on specific weather conditions,
        view hourly data within the" | t({"@place": place }) }}
        <a href="" data-daily-tab-link>{{ "daily tab" | t }}</a>.
      </p>
      <script type="text/javascript">
       const link = document.querySelector("[data-daily-tab-link]");
       link.addEventListener("click", e => {
           e.preventDefault();
           document.querySelector("wx-tabbed-nav").switchToTab("daily");
       });
      </script>
    </div>
    <div class="grid-row wx-radar-container position-relative">
      <wx-radar class="grid-col-12" lat="{{ point.latitude }}" lon="{{ point.longitude }}">
        <div id="wx_radar_container" style="height: 300px; width:100%"></div>
      </wx-radar>

      <div class="position-absolute top-0 right-0 height-full">
        <div class="position-sticky top-0" style="top: 55px;">
          <button type="button" class="wx-radar-expand padding-0 margin-1">
            <div class="usa-sr-only wx-radar-expand__description">{{ "expand the radar map" | t }}</div>
            <div class="usa-sr-only display-none wx-radar-expand__description">{{ "collapse the radar map" | t }}</div>
            <svg role="img" aria-hidden="true" class="width-full height-full">
              <use xlink:href="{{ "/" ~ directory ~ "/assets/images/uswds/sprite.svg#zoom_out_map" }}"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    {% set intensities = [{
        dbz: "−35–0",
        description: "Extremely light (drizzle/snow)",
        gradient: "180deg, #8E827E 0%, #969155 17.64%, #A5A36D 27.53%, #D0D2B2 54.47%, #7E8BAF 100%"
    },{
        dbz: "0–20",
        description: "Very light precipitation or general clutter",
        gradient: "180deg, #7B88AE 0%, #5C71A6 17.64%, #445FA0 36.39%, #5DA9CC 61.25%, #59C0BA 73.2%, #52D6A2 87.85%, #3FD657 100%"
    },{
        dbz: "20–40",
        description: "Light precipitation",
        gradient: "180deg, #3FD657 0%, #3ED624 9.47%, #24890E 36.39%, #176108 61.25%, #819F06 73.2%, #FBE000 85.5%, #F4CB17 100%"
    },{
        dbz: "40–50",
        description: "Moderate precipitation",
        gradient: "180deg, #F4CB17 0%, #EBB32D 25.38%, #F9B103 72.13%, #F52D04 73.91%, #D10808 99.72%"
    },{
        dbz: "50–65",
        description: "Heavy precipitation or some hail",
        gradient: "180deg, #D10808 0%, #A20F10 16.84%, #B00301 48.32%, #FEFBFF 49.94%, #EDA7FD 71.83%, #E474FC 83.75%, #F174FD 100%);"
    },{
        dbz: ">65",
        description: "Extremely heavy precipitation including water-coated hail",
        gradient: "180deg, #F174FD 0%, #F875FF 30.26%, #AA0BFA 34%, #5B06D3 98.5%"
    }]
    %}

    {# Radar Legend #}
    <div class="padding-2 wx-radar-legend">
      <div class="usa-accordion wx-accordion-light">
        <h4 class="usa-accordion__heading">
          <button
              class="usa-accordion__button"
              type="button"
              aria-expanded="false"
              aria-controls="radar-legend">
            {{"Radar legend" | t}}
          </button>
        </h4>
        <table class="usa-accordion__content usa-table usa-table--borderless margin-top-0 wx-radar-legend" tabindex="0"  id="radar-legend">
          <caption class="usa-sr-only">{{ "Legend which describes the intensity levels that correspond to color and dBz values" | t }}</caption>
          <tr>
            <th class="font-family-mono text-primary-dark font-mono-xs z-400">
              {{ "dBz" | t }}
            </th>
            <th class="font-family-mono text-primary-dark font-mono-xs z-400 text-uppercase">
              {{ "Intensity" | t }}
            </th>
          </tr>

          {% for intensity in intensities %}
            <tr class="wx-radar-legend__row">
              {# Need to inline the styles on the th and td to override stylesheets #}
              <th class="text-no-wrap font-family-mono">{{ intensity.dbz }}</th>
              <td>
                <div class="wx-radar-legend__intensity minh-5 height-full" style="border-image-source: linear-gradient({{ intensity.gradient }});">
                  {{ intensity.description | t }}
                </div>
              </td>
            </tr>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>
</div>
