<div class="wx-wfo-info">
  {% if content.field_wfo_image is not empty %}
    <div class="wx-wfo-image grid-container padding-0 tablet:padding-x-2 desktop:padding-x-4">
      {{ content.field_wfo_image }}
    </div>
  {% endif %}

  <div class="grid-container">
    <h1 class="text-normal text-primary-darker">
      {{ wfo.name }} ({{ wfo.code }}) National Weather Service Office
    </h1>

    <div class="grid-row">
      {% set hasAbout = not (content.body.isEmpty or content.body.0 is not defined) %}
      {% if hasAbout %}
      <div class="grid-col-12 tablet:grid-col-4">
        <h2 class="text-normal text-primary-darker">About</h2>
        {{content.body}}
      </div>
      {% endif %}

      <div class="grid-col-12{% if hasAbout %} tablet:grid-col-8 tablet:padding-left-2{% endif %}">
        <figure class="margin-0">
          <img src="/{{ directory }}/assets/images/wfos/{{ wfo.code }}.png" alt="">
          <figcaption>{{ "Coverage area for @wfo WFO" | t({ "@wfo": wfo.name })}}</figcaption>
        </figure>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-6">
        <h2 class="border-top-1px border-base-light text-normal text-primary-darker padding-top-1">Local expertise</h2>
        <p>
          Decision support is description tk tk tk
        </p>
        <ul class="padding-left-1">
          <li class="padding-y-05"><a href="#">Briefing</a></li>
          <li class="padding-y-05"><a href="#">County finder</a></li>
          <li class="padding-y-05"><a href="#">State page</a></li>
          <li class="padding-y-05"><a href="#">Resource 1</a></li>
          <li class="padding-y-05"><a href="#">Resource 2</a></li>
          <li class="padding-y-05"><a href="#">Resource 3</a></li>
        </ul>
      </div>

      <div class="grid-col-12 tablet:grid-col-6">
        <h2 class="border-top-1px border-base-light text-normal text-primary-darker padding-top-1">Forecaster's discussion</h2>
        <p>
          The purpose of the area forecast discussion is to provide the
          meteorological/scientific reasoning behind the forecast
        </p>
        <a href="#">Current Area Forecast Discussion</a>
      </div>
    </div>

    {% set hasPhone = phone is not empty %}
    {% set hasAddress = address is not empty %}

    {% set hasFacebook = not (content.field_facebook_url.isEmpty or content.field_facebook_url.0 is not defined) %}
    {% set hasTwitter = not (content.field_twitter_url.isEmpty or content.field_twitter_url.0 is not defined) %}
    {% set hasYoutube = not (content.field_youtube_url.isEmpty or content.field_youtube_url.0 is not defined) %}
    {% set hasSocial = hasFacebook or hasTwitter or hasYoutube %}

    {% set hasContact = hasSocial or hasAddress or hasPhone %}

    {% if hasContact %}
      <h2 class="border-top-1px border-base-light text-normal text-primary-darker padding-top-1 margin-bottom-0">Contact us</h2>

      <div class="grid-row margin-top-2">
        <div class="grid-col-12 tablet:grid-col-4">
          {% if hasPhone > 0 %}
            {{ content.field_phone_number_opt }}
          {% endif %}

          {% if hasAddress %}
          {{ content.field_address }}
          {% endif %}
        </div>

        <div class="grid-col-12 tablet:grid-col-8">
          {% if hasSocial %}
            <ul class="usa-list usa-list--unstyled"> 
              {{ content.field_facebook_url }}
              {{ content.field_twitter_url }}
              {{ content.field_youtube_url }}
            </ul>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>