<div class="layout-container grid-row height-full flex-column flex-no-wrap">
    <header role="banner">
    <div class="grid-container">
      {% if page.header %}
      <div class="grid-row">{{ page.header }}</div>
      {% endif %} {% if page.primary_menu %}
      <div class="grid-row">{{ page.primary_menu }}</div>
      {% endif %} {% if page.secondary_menu %}
      <div class="grid-row">{{ page.secondary_menu }}</div>
      {% endif %} {% if page.breadcrumb %}
      <div class="grid-row">{{ page.breadcrumb }}</div>
      {% endif %} {% if page.highlighted %}
      <div class="grid-row">{{ page.highlighted }}</div>
      {% endif %} {% if page.help %}
          <div class="grid-row">{{ page.help }}</div>
      {% endif %}
    </div>
    </header>

    <h1>Area Forecast Discussion (AFD)</h1>
    {% if wfo is not null %}
        <h2>latest for {{wfo}}</h2>
    {% else %}
        <h2>latest anywhere</h2>
    {% endif %}
    {%  if afd is not null %}
        {% include "@new_weather_theme/partials/afd.html.twig" with { afd: afd } %}
    {% endif %}
    
</div>
