{% set wfo = wfo | upper %}

<div class="layout-container grid-row height-full flex-column flex-no-wrap">
    <header role="banner">
        <div class="grid-container">
            {% if page.header %}
                <div class="grid-row">{{ page.header }}</div>
            {% endif %} {% if page.primary_menu %}
                <div class="grid-row">{{ page.primary_menu }}</div>
            {% endif %} {% if page.secondary_menu %}
                <div class="grid-row">{{ page.secondary_menu }}</div>
            {% endif %} {% if page.breadcrumb %}
                <div class="grid-row">{{ page.breadcrumb }}</div>
            {% endif %} {% if page.highlighted %}
                <div class="grid-row">{{ page.highlighted }}</div>
            {% endif %} {% if page.help %}
                <div class="grid-row">{{ page.help }}</div>
            {% endif %}
        </div>
    </header>

    <div class="bg-primary-dark width-full">
        <div class="grid-container">
            <h1 class="text-white font-heading-xl text-normal tablet:flex-1 margin-y-1">
                {{  "Area Forecast Discussion" | t }}
            </h1>
        </div>
    </div>
    <wx-afd-selector {% if wfo is not null %}wfo="{{wfo}}"{% endif %} class="grid-container width-full">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 desktop:grid-col-4 desktop:margin-top-205">

                <form id="afd-selection-form" name="afd-selection-form" class="bg-primary-lightest padding-x-2 padding-y-3 border-bottom-2px border-primary desktop__wx-position-sticky margin-x-neg-2" method="GET" action="/afd">
                    <label for="wfo-selector" class="usa-label margin-top-0">
                        Forecast office:
                    </label>
                    <select id="wfo-selector" name="wfo" class="usa-select maxw-none tablet:maxw-mobile-lg">
                        {% for office in wfo_list %}
                            <option value="{{office.code}}"{% if office.code == wfo %} selected{% endif %}>
                                {{office.name}} ({{office.code}})
                            </option>
                        {% endfor %}
                    </select>

                    {% if version_list | length > 0 %}
                        <label for="version-selector" class="usa-label">Versions for {{wfo | upper}}: </label>
                        <select id="version-selector" name="id" class="usa-select maxw-none tablet:maxw-mobile-lg">
                            {% include "@new_weather_theme/partials/afd-versions-select.html.twig" %}
                        </select>
                    {% endif %}
                    <input type="hidden" name="current-id" value="{{afd.id}}"/>
                    <button class="usa-button margin-top-3" type="submit">Update selection</button>

                </form>
            </div>

            <div class="afd-content-section grid-col-12 desktop:grid-col-8">
                {%  if afd is not null %}
                    {% include '@new_weather_theme/partials/afd.html.twig' %}
                {% endif %}
            </div>
        </div>
    </wx-afd-selector>
</div>

{# {{attach_library("new_weather_theme/afd-selector")}} #}
