{% if page.footer %}
  <footer role="contentinfo" class="margin-top-0">
    <div class="usa-identifier">
      <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,">
        <div class="grid-container">
          <div class="grid-row">
            <div class="desktop:grid-col-4">
              <a href="{{ path('<front>') }}" rel="home" class="site-logo display-block">
                <img class="height-9" src="/{{ directory }}/logo-noaa.svg" alt="{{ 'National Oceanic and Atmospheric Administration logo'|t }}"/>
              </a>
              <span class="text-italic display-block">{{ 'Science. Service. Stewardship'|t }}</span>
            </div>
            <div class="desktop:grid-col-8">{{ page.primary_footer }}</div>
          </div>
        </div>
      </nav>
      {{ page.footer }}
    </div>

    <a href="https://touchpoints.app.cloud.gov/touchpoints/22acf675/submit"
       class="viewpoints-button usa-button position-fixed bottom-0 z-top">
      Help improve this site
    </a>

  </footer>
{% endif %}
