{{ attach_library("new_weather_theme/location-combo-box") }}
<div class="wx-bg-satellite padding-y-4 tablet:padding-top-7 tablet:padding-bottom-8"> 
  <div class="grid-container">
    <div class="grid-row"> 
      <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
        <h1 class="text-normal text-white margin-y-0 font-sans-3xl text-ls-1"> Find your forecast </h1>
      </div>
    </div>

    <div class="row">
      <form class="usa-form grid-col maxw-tablet-lg margin-bottom-3 tablet:grid-offset-2" 
            data-location-search method="post"
      >
        <div class="display-flex flex-align-end text-white flex-wrap">
          <label class="usa-label margin-top-2" for="search-combo-box">
            {{ "Enter city or zip code" | t }}
          </label>
          <div class="margin-x-105">|</div>
          <div class="">
            <button id="weathergov-use-browser-location" type="button" class="usa-button usa-button--unstyled wx-button--unstyled-light">
              <svg
                  class="usa-icon height-2 width-2 margin-right-1 text-top"
                  aria-hidden="true"
                  focusable="false"
                  role="img"
              >
                <use
                  xlink:href="/{{ directory }}/assets/images/uswds/sprite.svg#my_location"
                ></use>
              </svg>{{ 'Use my location' | t }}
            </button>
          </div>
        </div>
        <wx-combo-box class="z-top margin-top-105" id="search-combo-box">
        </wx-combo-box>
        <input type="hidden" name="suggestedPlaceName" value="">
      </form>
    </div>
  </div>
</div>

<div class="bg-primary-lightest wx-bg-ray padding-y-4 border-top-05 border-primary-light">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
        <div class="display-flex flex-align-start mobile-lg__flex-align-center"> 
          <img
            aria-hidden="true"
            class="margin-right-2 maxw-8 tablet__maxw10"
            src="/{{ directory }}/assets/images/weather/spot_illos/wx_illo_announce.svg"
            alt=""
          />
          <h2 class="text-normal text-primary-darker font-sans-2xl margin-y-0">A new weather.gov is&nbsp;coming</h2>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">

        <p class="font-sans-md">This website is in development. We are creating a new, contemporary tool for anyone, anywhere in the U.S. to check their forecast and learn about hazardous weather on the way. 
        </p>
        <p>As you explore, you may notice that we’re missing features you’re accustomed to seeing on weather.gov. This site is updated every two weeks with new features. Continue to check back to watch the site expand!
        </p>
        <p class="margin-bottom-0">Because it’s a work in progress, this site has a long way to go before replacing weather.gov. In the meantime, you can still <a href="https://www.weather.gov" class="usa-link">access weather.gov</a> and all the tools it offers. You should continue to rely on weather.gov as the authoritative source for weather information.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="grid-container margin-top-4 margin-bottom-10">
  <div class="grid-row">
    <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
      <div class="display-flex flex-align-start mobile-lg__flex-align-center"> 
        <img
          aria-hidden="true"
          class="margin-right-2"
          src="/{{ directory }}/assets/images/weather/spot_illos/wx_illo_user.svg"
          alt=""
        />
        <h2 class="font-sans-xl text-normal text-primary-darker margin-y-0">
          A weather.gov built with you in&nbsp;mind
        </h2>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
      <p>We are working towards a new weather.gov that quickly provides everyone with the critical information they need to protect themselves and their communities. </p>
      <p class="margin-bottom-1"> 
      Over the next few years, we are working towards a site that will be: 
      </p>
      <ul class="usa-list margin-y-0"> 
        <li> One cohesive experience </li>
        <li> Easy to navigate and understand from any device </li>
        <li> Accessible to all users, regardless of location, wealth, education, age, or&nbsp;ability </li>
        <li> Available in more languages </li>
        <li> A valuable resource for the public, as well as partners of the National Weather Service </li>
      </ul>
    </div>
  </div>

  <div class="grid-row margin-top-4">
    <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
      <div class="display-flex flex-align-start mobile-lg__flex-align-center"> 
        <img
          aria-hidden="true"
          class="margin-right-2"
          src="/{{ directory }}/assets/images/weather/spot_illos/wx_illo_message.svg"
          alt=""
        />
        <h2 class="font-sans-xl text-normal text-primary-darker margin-y-0">
           We want to hear from you!
        </h2>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
      <p class="margin-bottom-1"> 
      <a href="https://touchpoints.app.cloud.gov/touchpoints/22acf675/submit" class="usa-link"> Tell us what you think </a> about how beta.weather.gov looks and functions.
      </p>
      <ul class="usa-list margin-y-0"> 
        <li> Did you find the information you were looking for? </li>
        <li> Did you have any challenges in understanding it? </li>
        <li> In what ways have you been using this website? </li>
        <li> What can we do to serve you better? </li>
      </ul>
    </div>
  </div>
</div>
