<div class="layout-container grid-row height-full flex-column flex-no-wrap">

  {{ attach_library('new_weather_theme/tabbed_nav') }}

  <header role="banner">
    <div class="grid-container">
      {% if page.header %}
      <div class="grid-row">{{ page.header }}</div>
      {% endif %} {% if page.primary_menu %}
      <div class="grid-row">{{ page.primary_menu }}</div>
      {% endif %} {% if page.secondary_menu %}
      <div class="grid-row">{{ page.secondary_menu }}</div>
      {% endif %} {% if page.breadcrumb %}
      <div class="grid-row">{{ page.breadcrumb }}</div>
      {% endif %} {% if page.highlighted %}
      <div class="grid-row">{{ page.highlighted }}</div>
      {% endif %} {% if page.help %}
      <div class="grid-row">{{ page.help }}</div>
      {% endif %}
    </div>
  </header>

  <main role="main" class="flex-1">
    <a id="main-content" tabindex="-1"></a>
    {{ drupal_block("weathergov_location_search") }}

    {% if weather.alerts %}
    <div class="bg-primary-darkest padding-bottom-105">
      <div class="grid-container margin-top-0">
        <wx-placeholder data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/local_alert_list" data-trigger="load"></wx-placeholder>
      </div>
    </div>
    {% endif %}

    <tabbed-nav class="display-block position-relative">
      <div id="tablist-label" class="usa-sr-only">{{ "Weather information sections" | t }}</div>
      <div class="position-sticky top-0 z-500 bg-white border-base-light border-top-0 border-bottom-2px margin-y-0">
        <div class="grid-container padding-x-0">
         <div role="tablist" class="tab-buttons display-flex flex-row top-4 grid-col-12" aria-labelledby="tablist-label">
          {% if weather.alerts %}
            <button role="tab" id="alerts-tab-button" class="tab-button" data-tab-name="alerts" aria-controls="alerts">{{ "Alerts" | t }}</button>
          {% endif %}
            <button role="tab" id="current-conditions-tab-button" class="tab-button" data-tab-name="current" aria-controls="current">{{ "Current" | t }}</button>
            <button role="tab" id="today-tab-button" class="tab-button" data-tab-name="today" aria-controls="today">{{ "Today" | t}}</button>
            <button role="tab" id="daily-tab-button" class="tab-button" data-tab-name="daily" aria-controls="daily">{{ "Daily" | t }}</button>
          </div>
        </div>
      </div>

      <div class="bg-base-lightest padding-top-3 padding-bottom-8">
        {% if weather.alerts %}
        <div class="tab-container focus-offset-205" id="alerts" role="tabpanel" aria-labelledby="alerts-tab-button" tabindex="0">
          <wx-placeholder data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/local_alerts" data-trigger="load"></wx-placeholder>
        </div>
        {% endif %}
        <div class="tab-container focus-offset-205" id="current" role="tabpanel" aria-labelledby="current-conditions-tab-button" tabindex="0">
          <wx-placeholder data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/current_conditions" data-trigger="load"></wx-placeholder>
          {% include '@new_weather_theme/partials/radar.html.twig' with { 'point': weather.point  } %}
        </div>
        <div class="tab-container focus-offset-205" id="today" role="tabpanel" aria-labelledby="today-tab-button" tabindex="0">
          <wx-placeholder data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/weather_story" data-trigger="load"></wx-placeholder>
          <div class="grid-container padding-x-2">
            <div class="grid-row">
              <div class="grid-col tablet-lg:grid-offset-2">
                <h2 class="text-normal text-primary-darkest margin-top-0 margin-bottom-2">{{ "Hourly" | t }}</h2>
              </div>
            </div>
          </div>
          <wx-placeholder data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/hourly_precipitation" data-trigger="load"></wx-placeholder>
          <wx-placeholder data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/hourly_forecast" data-trigger="load"></wx-placeholder>
          <wx-placeholder data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/wfo_promo" data-trigger="load"></wx-placeholder>
        </div>
        <div class="tab-container focus-offset-205" id="daily" role="tabpanel" aria-labelledby="daily-tab-button" tabindex="0">
          {{ attach_library('new_weather_theme/hourly_toggle') }}
          <wx-placeholder class="daily-forecast-block" data-placeholder="true" data-href="/wx/point/{{weather.point.lat}}/{{weather.point.lon}}/daily_forecast" data-trigger="load">
          </wx-placeholder>
        </div>
      </div>

    </tabbed-nav>
  </main>

  {% include(directory ~ "/templates/layout/footer.html.twig") %}

</div>
<script>
 /**
  * Rough and dirty handler for placeholder elements
  */

 const fetchAndReplace = async (element, url) => {
   const response = await fetch(url);
   if(response.ok){
     const markup = await response.text();
     element.outerHTML = markup;
   } else {
     console.error(response);
   }
 };
 
 document.addEventListener('DOMContentLoaded', () => {
   Array.from(document.querySelectorAll('wx-placeholder[data-placeholder="true"]')).forEach(placeholder => {
     if(placeholder.dataset.trigger === "load"){
       fetchAndReplace(placeholder, placeholder.dataset.href);
     }
   });
 });
</script>
