<div class="layout-container grid-row height-full flex-column flex-no-wrap">
  {% if page.beta %}
  {{ page.beta }}
  {% endif %}

  {{ attach_library('new_weather_theme/tabbed_nav') }}
  
  <section
    class="usa-banner"
    aria-label="Official website of the United States government"
  >
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-auto">
            <img
              aria-hidden="true"
              class="usa-banner__header-flag"
              src="/{{ directory }}/assets/images/uswds/us_flag_small.png"
              alt=""
            />
          </div>
          <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
            <p class="usa-banner__header-text">
              An official website of the United States government
            </p>
            <p class="usa-banner__header-action">Here’s how you know</p>
          </div>
          <button
            type="button"
            class="usa-accordion__button usa-banner__button"
            aria-expanded="false"
            aria-controls="gov-banner-default-default"
          >
            <span class="usa-banner__button-text">Here’s how you know</span>
          </button>
        </div>
      </header>
      <div
        class="usa-banner__content usa-accordion__content"
        id="gov-banner-default-default"
      >
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
              class="usa-banner__icon usa-media-block__img"
              src="/{{ directory }}/assets/images/uswds/icon-dot-gov.svg"
              role="img"
              alt=""
              aria-hidden="true"
            />
            <div class="usa-media-block__body">
              <p>
                <strong>Official websites use .gov</strong><br />A
                <strong>.gov</strong>
                website belongs to an official government organization in the
                United States.
              </p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
              class="usa-banner__icon usa-media-block__img"
              src="/{{ directory }}/assets/images/uswds/icon-https.svg"
              role="img"
              alt=""
              aria-hidden="true"
            />
            <div class="usa-media-block__body">
              <p>
                <strong>Secure .gov websites use HTTPS</strong><br />A
                <strong>lock</strong>
                (
                <span class="icon-lock">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="52"
                    height="64"
                    viewbox="0 0 52 64"
                    class="usa-banner__lock-image"
                    role="img"
                    aria-labelledby="banner-lock-description-default"
                    focusable="false"
                  >
                    <title id="banner-lock-title-default">Lock</title>
                    <desc id="banner-lock-description-default">
                      Locked padlock icon
                    </desc>
                    <path
                      fill="#000000"
                      fill-rule="evenodd"
                      d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                    />
                  </svg> </span
                >) or
                <strong>https://</strong>
                means you’ve safely connected to the .gov website. Share
                sensitive information only on official, secure websites.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <header role="banner">
    <div class="grid-container">
      {% if page.header %}
      <div class="grid-row">{{ page.header }}</div>
      {% endif %} {% if page.primary_menu %}
      <div class="grid-row">{{ page.primary_menu }}</div>
      {% endif %} {% if page.secondary_menu %}
      <div class="grid-row">{{ page.secondary_menu }}</div>
      {% endif %} {% if page.breadcrumb %}
      <div class="grid-row">{{ page.breadcrumb }}</div>
      {% endif %} {% if page.highlighted %}
      <div class="grid-row">{{ page.highlighted }}</div>
      {% endif %} {% if page.help %}
      <div class="grid-row">{{ page.help }}</div>
      {% endif %}
    </div>
  </header>

  <main role="main" class="flex-1">
    <a id="main-content" tabindex="-1"></a>
    <div class="grid-container">
      {{ drupal_block("weathergov_local_alert_list") }}

        <div class="grid-row">
            {{ page.content }}
        </div>

        {{ drupal_block("weathergov_current_conditions") }}

      <tabbed-nav class="display-block position-relative">
          <div class="tab-buttons padding-bottom-4 padding-top-4 top-0 z-top display-flex flex-row flex-justify position-sticky bg-white top-4 mobile-lg:grid-col-8 desktop:grid-col-6">
              <button role="button" class="tab-button" data-tab-name="alerts" aria-controls="alerts">{{ "Alerts" | t }}</button>
                  <button role="button" class="tab-button" data-tab-name="outlook" aria-controls="outlook">{{ "Outlook" | t}}</button>
              <button role="button" class="tab-button" data-tab-name="hourly" aria-controls="hourly">{{ "Hourly" | t }}</button>
              <button role="button" class="tab-button" data-tab-name="daily" aria-controls="daily">{{ "Daily" | t }}</button>
          </div>
          <div class="tab-container" id="alerts">
              {{ drupal_block("weathergov_local_alerts") }}
          </div>
          <div class="tab-container" id="outlook">
              <div class="tablet:grid-col-6 padding-right-2">
          {{ drupal_block("weathergov_weather_story") }}
        </div>
        <div class="tablet:grid-col-6 padding-left-2">
            {{ drupal_block("weathergov_wfo_promo") }}
        </div>
          </div>
          <div class="tab-container" id="hourly">
              {{ drupal_block("weathergov_hourly_forecast") }}
          </div>
          <div class="tab-container" id="daily">
              {{ drupal_block("weathergov_daily_forecast") }}
          </div>
      </tabbed-nav>
    </div>
  </main>

  {% include(directory ~ "/templates/layout/footer.html.twig") %}

</div>
