<div class="layout-container grid-row height-full flex-column flex-no-wrap">

  {{ attach_library('new_weather_theme/point-page') }}
  {{ attach_library("new_weather_theme/leaflet") }}

  <header role="banner">
    <div class="grid-container">
      {% if page.header %}
      <div class="grid-row">{{ page.header }}</div>
      {% endif %} {% if page.primary_menu %}
      <div class="grid-row">{{ page.primary_menu }}</div>
      {% endif %} {% if page.secondary_menu %}
      <div class="grid-row">{{ page.secondary_menu }}</div>
      {% endif %} {% if page.breadcrumb %}
      <div class="grid-row">{{ page.breadcrumb }}</div>
      {% endif %} {% if page.highlighted %}
      <div class="grid-row">{{ page.highlighted }}</div>
      {% endif %} {% if page.help %}
      <div class="grid-row">{{ page.help }}</div>
      {% endif %}
    </div>
  </header>

  <main role="main" class="flex-1 wx-location-page">
    <a id="main-content" tabindex="-1"></a>
    {{ drupal_block("weathergov_location_search") }}

    {% if weather.alerts %}
    <div class="bg-primary-darker padding-bottom-105">
      <div class="grid-container margin-top-0">
        {{ drupal_block("weathergov_local_alert_list") }}
      </div>
    </div>
    {% endif %}

    <wx-tabbed-nav class="display-block position-relative">
      <div id="tablist-label" class="usa-sr-only">{{ "Weather information sections" | t }}</div>
      <div class="position-sticky top-0 z-500 bg-white border-base-light border-top-0 border-bottom-2px margin-y-0">
        <div class="grid-container padding-x-0">
         <div role="tablist" class="tab-buttons display-flex flex-row top-4 grid-col-12" aria-labelledby="tablist-label">
          {% if weather.alerts %}
            <button role="tab" id="alerts-tab-button" class="tab-button" data-tab-name="alerts" aria-controls="alerts">{{ "Alerts" | t }}</button>
          {% endif %}
            <button role="tab" id="current-conditions-tab-button" class="tab-button" data-tab-name="current" aria-controls="current">{{ "Current" | t }}</button>
            <button role="tab" id="daily-tab-button" class="tab-button" data-tab-name="daily" aria-controls="daily">{{ "7 Days" | t }}</button>
          </div>
        </div>
      </div>

      <div class="bg-base-lightest padding-top-3 padding-bottom-8">
          {% if weather.alerts %}
        <div class="wx-tab-container wx-focus-offset-205" id="alerts" role="tabpanel" aria-labelledby="alerts-tab-button" tabindex="0">
          {{ drupal_block("weathergov_local_alerts") }}
        </div>
        {% endif %}

        <div class="wx-tab-container wx-focus-offset-205" id="current" role="tabpanel" aria-labelledby="current-conditions-tab-button" tabindex="0">
          {{ drupal_block("weathergov_current_conditions") }}
          {% include '@new_weather_theme/partials/radar.html.twig' with { 'point': weather.point  } %}

          {% include '@new_weather_theme/partials/satellite.html.twig' %}
        </div>

         <div class="wx-tab-container wx-focus-offset-205" id="daily" role="tabpanel" aria-labelledby="daily-tab-button" tabindex="0">
          <h2 class="usa-sr-only">7 days</h2>
          {{ drupal_block("weathergov_weather_story") }}

          <div class="margin-x-2 tablet:margin-x-auto tablet:grid-container margin-bottom-4 padding-x-0 tablet:padding-x-2">
            <div class="grid-row">
              <div class="grid-col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-8">
                <div class="bg-accent-cool-lightest border border-accent-cool-lighter padding-105" role="alert">
                  <svg
                    class="usa-icon height-3 width-3 text-accent-cool-dark margin-right-1"
                    aria-hidden="true"
                    focusable="false"
                    role="img"
                    style="vertical-align: middle;"
                  >
                    <use
                      xlink:href="/{{ directory }}/assets/images/uswds/sprite.svg#info_outline"
                    ></use>
                  </svg><a href="/afd/{{ weather.grid.wfo }}" class="usa-link">Area forecast discussion</a>
                </div>
              </div>
            </div>
          </div>


          <h3 class="usa-sr-only">Daily forecast</h3>
          {{ drupal_block("weathergov_daily_forecast") }}

          {{ drupal_block("weathergov_wfo_promo") }}
        </div>
      </div>

    </wx-tabbed-nav>
  </main>

  {% include(directory ~ "/templates/layout/footer.html.twig") %}

</div>
