<div class="layout-container grid-row height-full flex-column flex-no-wrap">

  {{ attach_library('new_weather_theme/tabbed_nav') }}

  <header role="banner">
    <div class="grid-container">
      {% if page.header %}
      <div class="grid-row">{{ page.header }}</div>
      {% endif %} {% if page.primary_menu %}
      <div class="grid-row">{{ page.primary_menu }}</div>
      {% endif %} {% if page.secondary_menu %}
      <div class="grid-row">{{ page.secondary_menu }}</div>
      {% endif %} {% if page.breadcrumb %}
      <div class="grid-row">{{ page.breadcrumb }}</div>
      {% endif %} {% if page.highlighted %}
      <div class="grid-row">{{ page.highlighted }}</div>
      {% endif %} {% if page.help %}
      <div class="grid-row">{{ page.help }}</div>
      {% endif %}
    </div>
  </header>

  <main role="main" class="flex-1">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}

    {% if weather.alerts %}
    <div class="bg-primary-darkest padding-bottom-105">
      <div class="grid-container margin-top-0">
        {{ drupal_block("weathergov_local_alert_list") }}
      </div>
    </div>
    {% endif %}

    <tabbed-nav class="display-block position-relative">
      <div id="tablist-label" class="usa-sr-only">{{ "Weather information sections" | t }}</div>
      <div class="position-sticky top-0 z-500 bg-white border-base-light border-top-0 border-bottom-2px margin-y-0">
        <div class="grid-container padding-x-0">
         <div role="tablist" class="tab-buttons display-flex flex-row top-4 grid-col-12" aria-labelledby="tablist-label">
          {% if weather.alerts %}
            <button role="tab" id="alerts-tab-button" class="tab-button" data-tab-name="alerts" aria-controls="alerts">{{ "Alerts" | t }}</button>
          {% endif %}
            <button role="tab" id="current-conditions-tab-button" class="tab-button" data-tab-name="current" aria-controls="current">{{ "Current" | t }}</button>
            <button role="tab" id="today-tab-button" class="tab-button" data-tab-name="today" aria-controls="today">{{ "Today" | t}}</button>
            <button role="tab" id="daily-tab-button" class="tab-button" data-tab-name="daily" aria-controls="daily">{{ "Daily" | t }}</button>
          </div>
        </div>
      </div>

      <div class="bg-base-lightest padding-top-3 padding-bottom-8">
        {% if weather.alerts %}
        <div class="tab-container" id="alerts"  role="tabpanel" aria-labelledby="alerts-tab-button" tabindex="0">
          {{ drupal_block("weathergov_local_alerts") }}
        </div>
        {% endif %}
        <div class="tab-container" id="current" role="tabpanel" aria-labelledby="current-conditions-tab-button" tabindex="0">
          {{ drupal_block("weathergov_current_conditions") }}
        </div>
        <div class="tab-container" id="today"  role="tabpanel" aria-labelledby="today-tab-button" tabindex="0">
          {{ drupal_block("weathergov_weather_story") }}

          <h2 class="margin-0">{{ "Hourly forecast" | t }}</h2>
          {{ drupal_block("weathergov_hourly_precipitation") }}
          {{ drupal_block("weathergov_hourly_forecast") }}

          {{ drupal_block("weathergov_wfo_promo") }}
        </div>
        <div class="tab-container" id="daily" role="tabpanel" aria-labelledby="daily-tab-button" tabindex="0">
          {{ drupal_block("weathergov_daily_forecast") }}
        </div>
      </div>

    </tabbed-nav>
  </main>

  {% include(directory ~ "/templates/layout/footer.html.twig") %}

</div>
