<div class="wx-daily-forecast-block">
  {{ attach_library('new_weather_theme/hourly-toggle') }}
  {% if forecast.error %}
    {% set message = "forecast.errors.daily.01" | t %}
    {% if forecast.message %}
      {% set message = message ~ " " ~ forecast.message %}
    {% endif %}
    <div class="grid-container padding-x-0 padding-y-2 grid-col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-8">
      {% include '@new_weather_theme/partials/uswds-alert.html.twig' with { 'level': "error", body: message } %}
    </div>
  {% else %}
    <div class="grid-container padding-x-0 desktop:padding-x-4 tablet:padding-x-2">
      {% include '@new_weather_theme/partials/quick-forecast.html.twig' with { days: forecast.days } %}
      <div class="wx-quick-forecast-header desktop:display-none" aria-hidden="true">
        <div class="wx-quick-forecast-header-top margin-right-3 table:margin-right-0">
          <div class="flex-1">
            <span>
              {{"Date" | t}}
            </span>
          </div>
          <div class="flex-1 text-align-center mobile-lg:display-flex mobile-lg:flex-justify-center">
            <span>
              {{"Condition" | t}}
            </span>
          </div>
          <div class="flex-1 display-flex">
            <span class="flex-1">
              {{"High" | t}}
            </span>
            <span class="flex-1">
              {{"Low" | t}}
            </span>
          </div>
        </div>
        <div class="wx-quick-forecast-header-bottom">
          <div class="wx-quick-forecast-header-empty"></div>
        </div>
      </div>
      <ol class="wx-forecast-list usa-list--unstyled">
      {%  for data in forecast.days %}
        {% set precipHours = content.precipitationPeriods[loop.index0 + precipIndex] %}
        {% include '@new_weather_theme/partials/daily-forecast-list-item.html.twig' with
           {
              'periods': data.periods,
              'dayHours': data.hours,
              'alerts': data.alerts,
             'qpf': data.qpf,
             'day': data
            }
        %}
      {%  endfor %}
      </ol>
  {% endif %}
</div>
